.version.index /* version checker */
{
	color: #0000E2;
	background-color: #53747F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 7px;
	width: 0.01px;/* should not cover content below */
}

#ppamphletu6309
{
	width: 0.01px;
	margin-left: -177px;
}

#pamphletu6309
{
	z-index: 22;
	width: 0.01px;
	height: 415px;
	position: relative;
	margin-right: -10000px;
}

#u6314
{
	position: absolute;
	width: 380px;
	background-color: transparent;
	left: 177px;
}

#u6314popup
{
	z-index: 23;
}

#u6315
{
	z-index: 24;
	width: 299px;
	height: 147px;
	border-width: 0px;
	margin-right: -10000px;
	position: relative;
	padding: 108px 41px 134px 40px;
	background: transparent url("../../images/header-bg-u6315-fr.jpg") no-repeat right bottom;
	background-size: cover;
}

#u6317
{
	z-index: 25;
	width: 151px;
	background-color: transparent;
	margin-left: 75px;
	position: relative;
}

#u6318
{
	z-index: 26;
	display: block;
}

#u6319-4
{
	z-index: 27;
	width: 299px;
	min-height: 40px;
	background-color: transparent;
	line-height: 34px;
	color: #FFFFFF;
	font-size: 34px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	padding-left: 0px;
	visibility: inherit;
	margin-top: 11px;
	position: relative;
}

#u6319-4 > *
{
	padding-left: -10px;
	padding-left: 0px;
}

#u6316-4
{
	z-index: 31;
	width: 299px;
	min-height: 16px;
	background-color: transparent;
	text-align: center;
	letter-spacing: 6px;
	line-height: 16px;
	color: #FFFFFF;
	font-size: 13px;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 18px;
	position: relative;
}

#u6312
{
	z-index: 35;
	width: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
}

#u6313
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 10px;
}

#u6313:hover
{
	background-color: #C69C6D;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u6313:active
{
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u6313.PamphletThumbSelected
{
	background-color: #C69C6D;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#buttonu6368
{
	z-index: 52;
	width: 380px;
	border-width: 0px;
	padding-bottom: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 389px;
	left: 177px;
	background: transparent url("../../images/about-us-1-1.jpg") no-repeat right bottom;
	background-size: cover;
}

#buttonu6368:hover
{
	background-repeat: no-repeat;
	background-position: right bottom;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	width: 380px;
	min-height: 0px;
	margin: 389px -10000px 0px 0px;
	background-size: cover;
}

#u6369-4
{
	z-index: 53;
	width: 177px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #6B6B6B;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 97px;
}

.Buttons_Style
{
	border-width: 5px;
	border-color: #3E3E3E;
	background-color: transparent;
}

#buttonu6362
{
	z-index: 37;
	width: 380px;
	border-width: 0px;
	padding-bottom: 51px;
	position: relative;
	background: transparent url("../../images/services.jpg") no-repeat center center;
	background-size: cover;
}

#u6363-4
{
	z-index: 38;
	width: 191px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #6B6B6B;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 90px;
}

#buttonu6362:hover #u6363-4
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 191px;
	margin: 53px -10000px 0px 0px;
}

#buttonu6364
{
	z-index: 47;
	width: 380px;
	border-width: 0px;
	padding-bottom: 51px;
	position: relative;
	background: transparent url("../../images/careers.jpg") no-repeat center center;
	background-size: cover;
}

#u6365-4
{
	z-index: 48;
	width: 177px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #6B6B6B;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 97px;
}

#buttonu6368:hover #u6369-4,#buttonu6364:hover #u6365-4
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 177px;
	margin: 53px -10000px 0px 0px;
}

#buttonu6366
{
	z-index: 42;
	width: 380px;
	border-width: 0px;
	padding-bottom: 52px;
	position: relative;
	background: transparent url("../../images/contact.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu6362:hover,#buttonu6364:hover,#buttonu6366:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	width: 380px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u6367-4
{
	z-index: 43;
	width: 207px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #6B6B6B;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 82px;
}

#buttonu6366:hover #u6367-4
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 207px;
	margin: 52px -10000px 0px 0px;
}

#buttonu6368:hover #u6369-4 p,#buttonu6362:hover #u6363-4 p,#buttonu6364:hover #u6365-4 p,#buttonu6366:hover #u6367-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u6369-2,#u6363-2,#u6365-2,#u6367-2
{
	color: #6B6B6B;
}

#ppu7266
{
	width: 0.01px;
	margin-left: 127px;
	margin-top: 12px;
}

#u7266
{
	z-index: 3;
	height: 37px;
	width: 36px;
	position: relative;
	margin-right: -10000px;
}

#u7271
{
	z-index: 9;
	height: 37px;
	width: 36px;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u7269
{
	z-index: 6;
	height: 37px;
	width: 36px;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#u7547-4
{
	z-index: 11;
	width: 268px;
	min-height: 14px;
	margin-left: 56px;
	margin-top: 25px;
	position: relative;
}

#u7837-7
{
	z-index: 15;
	width: 119px;
	min-height: 15px;
	margin-left: 131px;
	margin-top: 4px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

