.version.contact /* version checker */
{
	color: #0000E5;
	background-color: #76C338;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1255px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 36px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#pu7251
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 21px;
}

#u7251
{
	z-index: 57;
	width: 167px;
	position: relative;
	margin-right: -10000px;
}

#u5361
{
	z-index: 93;
	width: 167px;
	position: relative;
}

#u5359
{
	z-index: 94;
}

#u175-4
{
	z-index: 58;
	width: 167px;
	min-height: 43px;
	margin-top: 1px;
	position: relative;
}

#menuu205
{
	z-index: 62;
	width: 161px;
	margin-top: 56px;
	position: relative;
}

#u206
{
	width: 161px;
	position: relative;
}

#u209
{
	width: 160px;
	min-height: 17px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u209:hover
{
	width: 160px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u210-4
{
	width: 160px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u209:hover #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u5732
{
	width: 160px;
	min-height: 17px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u209.MuseMenuActive,#u5732:hover
{
	width: 160px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5735-4
{
	width: 160px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u209.MuseMenuActive #u210-4,#u5732:hover #u5735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u5711
{
	width: 160px;
	min-height: 17px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u5732.MuseMenuActive,#u5711:hover
{
	width: 160px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5714-4
{
	width: 160px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u5732.MuseMenuActive #u5735-4,#u5711:hover #u5714-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u6445
{
	width: 160px;
	min-height: 17px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u5711.MuseMenuActive,#u6445:hover
{
	width: 160px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6448-4
{
	width: 160px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u5711.MuseMenuActive #u5714-4,#u6445:hover #u6448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u5731,#u5710,#u6444,#u5752
{
	width: 161px;
	margin-top: 2px;
	position: relative;
}

#u5753
{
	width: 160px;
	min-height: 17px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u6445.MuseMenuActive,#u5753:hover
{
	width: 160px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5753.MuseMenuActive
{
	width: 160px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5754-4
{
	width: 160px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u6445.MuseMenuActive #u6448-4,#u5753:hover #u5754-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u5753.MuseMenuActive #u5754-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#pu1111-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 180px;
}

#u1111-6
{
	z-index: 26;
	width: 572px;
	min-height: 146px;
	background-color: transparent;
	position: relative;
}

#u1482-4
{
	z-index: 52;
	width: 572px;
	min-height: 49px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#pu5851-3
{
	width: 0.01px;
	margin-top: 48px;
}

#u5851-3
{
	z-index: 23;
	width: 741px;
	min-height: 888px;
	background-color: #F4F4F4;
	position: relative;
	margin-right: -10000px;
}

#u1132
{
	z-index: 32;
	width: 667px;
	min-height: 281px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 34px;
}

#u1480-7
{
	z-index: 33;
	width: 333px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	font-size: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 520px;
	left: 34px;
}

#u1874-4
{
	z-index: 40;
	width: 333px;
	min-height: 30px;
	background-color: transparent;
	line-height: 27px;
	color: #3E3E3E;
	font-size: 21px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 393px;
	left: 34px;
}

#u1875-8
{
	z-index: 44;
	width: 333px;
	min-height: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 435px;
	left: 35px;
}

#u1483
{
	z-index: 56;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: 58px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1483:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1483.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u3665
{
	z-index: 14;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -125px;
	margin-bottom: -37px;
	position: relative;
}

#u3667
{
	z-index: 8;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -85px;
	margin-bottom: -37px;
	position: relative;
}

#u3669
{
	z-index: 11;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -45px;
	margin-bottom: -37px;
	position: relative;
}

#pu530-4
{
	width: 0.01px;
	margin-left: 200px;
	margin-top: 22px;
}

#u530-4
{
	z-index: 2;
	width: 451px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
}

#u7828-7
{
	z-index: 16;
	width: 158px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
	left: 582px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

