.version.index /* version checker */
{
	color: #0000E6;
	background-color: #188678;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 626px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 36px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#pamphletu422
{
	z-index: 23;
	width: 0.01px;
	height: 468px;
	padding-bottom: 66px;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#u429
{
	position: absolute;
	width: 920px;
	background-color: transparent;
}

#u429popup
{
	z-index: 24;
}

#u440
{
	z-index: 25;
	width: 596px;
	height: 182px;
	border-width: 0px;
	margin-right: -10000px;
	position: relative;
	padding: 176px 162px;
	background: transparent url("../images/header-bg.jpg") no-repeat right bottom;
	background-size: cover;
}

#u5324
{
	z-index: 30;
	width: 151px;
	background-color: transparent;
	margin-left: 220px;
	position: relative;
}

#u5322
{
	z-index: 31;
	display: block;
}

#u559-4
{
	z-index: 26;
	width: 592px;
	min-height: 54px;
	background-color: transparent;
	text-align: center;
	line-height: 53px;
	color: #FFFFFF;
	font-size: 58px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	padding-left: 0px;
	visibility: inherit;
	margin-left: 4px;
	margin-top: 11px;
	position: relative;
}

#u559-4 > *
{
	padding-left: -10px;
	padding-left: 0px;
}

#u561-4
{
	z-index: 32;
	width: 592px;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	letter-spacing: 6px;
	line-height: 16px;
	color: #FFFFFF;
	font-size: 13px;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	left: -1px;
	margin-top: 33px;
	position: relative;
}

#u423
{
	z-index: 36;
	width: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 458px;
	left: 251px;
}

#u424
{
	position: absolute;
	width: 10px;
	height: 10px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 10px;
}

#u424:hover
{
	background-color: #C69C6D;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u424:active
{
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

#u424.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	min-height: 0px;
	margin: 0px;
}

.ie #u424.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pbuttonu5830
{
	width: 0.01px;
	margin-left: 20px;
}

#buttonu5830
{
	z-index: 54;
	width: 460px;
	border-width: 0px;
	padding-bottom: 141px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/about-us-1-1.jpg") no-repeat right bottom;
	background-size: cover;
}

#buttonu5830:hover
{
	background-repeat: no-repeat;
	background-position: right bottom;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	width: 460px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u5831-4
{
	z-index: 55;
	width: 177px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #6B6B6B;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 137px;
}

#buttonu5830:hover #u5831-4
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 177px;
	margin: 141px -10000px 0px 0px;
}

.Buttons_Style
{
	border-width: 5px;
	border-color: #3E3E3E;
	background-color: transparent;
}

#buttonu5824
{
	z-index: 39;
	width: 460px;
	border-width: 0px;
	padding-bottom: 141px;
	position: relative;
	margin-right: -10000px;
	left: 460px;
	background: transparent url("../images/services.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu5824:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	width: 460px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u5825-4
{
	z-index: 40;
	width: 191px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #6B6B6B;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 130px;
}

#buttonu5824:hover #u5825-4
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 191px;
	margin: 141px -10000px 0px 0px;
}

#buttonu5814
{
	z-index: 44;
	width: 920px;
	border-width: 0px;
	padding-bottom: 113px;
	margin-left: 20px;
	position: relative;
	background: transparent url("../images/careers.jpg") no-repeat center center;
	background-size: cover;
}

#u5815-4
{
	z-index: 45;
	width: 177px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #6B6B6B;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 367px;
}

#buttonu5814:hover #u5815-4
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 177px;
	margin: 113px -10000px 0px 0px;
}

#buttonu5845
{
	z-index: 49;
	width: 920px;
	border-width: 0px;
	padding-bottom: 113px;
	margin-left: 20px;
	position: relative;
	background: transparent url("../images/contact.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu5814:hover,#buttonu5845:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	width: 920px;
	min-height: 0px;
	margin: 0px 0px 0px 20px;
	background-size: cover;
}

#u5846-4
{
	z-index: 50;
	width: 207px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #6B6B6B;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 352px;
}

#buttonu5845:hover #u5846-4
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 207px;
	margin: 113px -10000px 0px 0px;
}

#buttonu5830:hover #u5831-4 p,#buttonu5824:hover #u5825-4 p,#buttonu5814:hover #u5815-4 p,#buttonu5845:hover #u5846-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5831-2,#u5825-2,#u5815-2,#u5846-2
{
	color: #6B6B6B;
}

#u1075
{
	z-index: 38;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: 152px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1075:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1075.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u7525
{
	z-index: 14;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -125px;
	margin-bottom: -37px;
	position: relative;
}

#u7523
{
	z-index: 8;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -85px;
	margin-bottom: -37px;
	position: relative;
}

#u7529
{
	z-index: 11;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -45px;
	margin-bottom: -37px;
	position: relative;
}

#pu7528-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 22px;
}

#u7528-4
{
	z-index: 2;
	width: 448px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
}

#u7831-7
{
	z-index: 16;
	width: 158px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
	left: 762px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

