.version.our_services /* version checker */
{
	color: #000014;
	background-color: #A76B36;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1210.5999999999983px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 37px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#pu7251
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 21px;
}

#u7251
{
	z-index: 140;
	width: 167px;
	position: relative;
	margin-right: -10000px;
}

#u5361
{
	z-index: 176;
	width: 167px;
	position: relative;
}

#u5359
{
	z-index: 177;
}

#u175-4
{
	z-index: 141;
	width: 167px;
	min-height: 43px;
	margin-top: 1px;
	position: relative;
}

#menuu205
{
	z-index: 145;
	width: 161px;
	margin-top: 56px;
	position: relative;
}

#u206
{
	width: 161px;
	position: relative;
}

#u209
{
	width: 160px;
	min-height: 17px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u209:hover
{
	width: 160px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u210-4
{
	width: 160px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u209:hover #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u5732
{
	width: 160px;
	min-height: 17px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u209.MuseMenuActive,#u5732:hover
{
	width: 160px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5735-4
{
	width: 160px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u209.MuseMenuActive #u210-4,#u5732:hover #u5735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u5711
{
	width: 160px;
	min-height: 17px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u5732.MuseMenuActive,#u5711:hover
{
	width: 160px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5714-4
{
	width: 160px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u5732.MuseMenuActive #u5735-4,#u5711:hover #u5714-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u6445
{
	width: 160px;
	min-height: 17px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u5711.MuseMenuActive,#u6445:hover
{
	width: 160px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6448-4
{
	width: 160px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u5711.MuseMenuActive #u5714-4,#u6445:hover #u6448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u5731,#u5710,#u6444,#u5752
{
	width: 161px;
	margin-top: 2px;
	position: relative;
}

#u5753
{
	width: 160px;
	min-height: 17px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u6445.MuseMenuActive,#u5753:hover
{
	width: 160px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5753.MuseMenuActive
{
	width: 160px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5754-4
{
	width: 160px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u6445.MuseMenuActive #u6448-4,#u5753:hover #u5754-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#u5753.MuseMenuActive #u5754-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 160px;
	margin: 0px -10000px 0px 0px;
}

#pu910-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 180px;
}

#u910-6
{
	z-index: 24;
	width: 575px;
	min-height: 145px;
	background-color: transparent;
	position: relative;
}

#u915-4
{
	z-index: 30;
	width: 575px;
	min-height: 62px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u563
{
	z-index: 23;
	width: 741px;
	background-color: #F4F4F4;
	padding-bottom: 769px;
	margin-top: 79px;
	position: relative;
}

#accordionu7066
{
	z-index: 35;
	width: 611px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 73px;
}

#u7644
{
	z-index: 36;
	width: 611px;
	border-width: 0px;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u7645-4
{
	z-index: 37;
	width: 611px;
	min-height: 50px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	line-height: 20px;
	position: relative;
	border-width: 0px 0px 4px;
}

#u7645-4:hover
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 611px;
	margin: 0px;
	border-width: 0px 0px 4px;
}

#u7645-4:hover p
{
	color: #C69C6D;
	visibility: inherit;
}

#u7646
{
	z-index: 41;
	width: 611px;
	background-image: none;
	border-style: solid;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	border-width: 10px 0px;
}

.Accordion
{
	border-color: #F4F4F4;
	border-width: 10px 0px;
	background: transparent url("../images/pen_01-ieu7646-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/pen_01.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u7717
{
	z-index: 42;
	width: 148px;
	background-color: transparent;
	opacity: 0.08;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
	filter: alpha(opacity=8);
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 453px;
}

#u7719-7
{
	z-index: 44;
	width: 526px;
	min-height: 191px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
}

#u7660
{
	z-index: 51;
	width: 611px;
	border-width: 0px;
	background-color: transparent;
	position: relative;
}

#u7661-4
{
	z-index: 52;
	width: 611px;
	min-height: 50px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	line-height: 20px;
	position: relative;
	border-width: 0px 0px 4px;
}

#u7661-4:hover
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 611px;
	margin: 0px;
	border-width: 0px 0px 4px;
}

#u7661-4:hover p
{
	color: #C69C6D;
	visibility: inherit;
}

#u7662
{
	z-index: 56;
	width: 611px;
	background-image: none;
	border-style: solid;
	padding-bottom: 4px;
	position: relative;
	border-width: 10px 0px;
}

#u7727
{
	z-index: 57;
	width: 147px;
	background-color: transparent;
	opacity: 0.08;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
	filter: alpha(opacity=8);
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 458px;
}

#u7727_img
{
	padding-left: 21px;
}

#u7729-7
{
	z-index: 59;
	width: 545px;
	min-height: 98px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 5px;
}

#u7091
{
	z-index: 66;
	width: 611px;
	border-width: 0px;
	background-color: transparent;
	position: relative;
}

#u7096-4
{
	z-index: 67;
	width: 611px;
	min-height: 50px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	line-height: 20px;
	position: relative;
	border-width: 0px 0px 4px;
}

#u7096-4:hover
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 611px;
	margin: 0px;
	border-width: 0px 0px 4px;
}

#u7096-4:hover p
{
	color: #C69C6D;
	visibility: inherit;
}

#u7092
{
	z-index: 71;
	width: 611px;
	background-image: none;
	border-style: solid;
	padding-bottom: 14px;
	position: relative;
	border-width: 10px 0px;
}

#u7095-21
{
	z-index: 72;
	width: 545px;
	min-height: 98px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 10px;
}

#u7093
{
	z-index: 93;
	width: 147px;
	background-color: transparent;
	opacity: 0.08;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
	filter: alpha(opacity=8);
	position: relative;
	margin-right: -10000px;
	margin-top: 219px;
	left: 463px;
}

#u7093_img
{
	padding-left: 21px;
	padding-right: 13px;
}

#u7097
{
	z-index: 95;
	width: 611px;
	border-width: 0px;
	background-color: transparent;
	position: relative;
}

#u7098-4
{
	z-index: 96;
	width: 611px;
	min-height: 50px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	line-height: 20px;
	position: relative;
	border-width: 0px 0px 4px;
}

#u7098-4:hover
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 611px;
	margin: 0px;
	border-width: 0px 0px 4px;
}

#u7098-4:hover p
{
	color: #C69C6D;
	visibility: inherit;
}

#u7099
{
	z-index: 100;
	width: 611px;
	background-image: none;
	border-style: solid;
	padding-bottom: 15px;
	position: relative;
	border-width: 10px 0px;
}

#u7100-7
{
	z-index: 101;
	width: 545px;
	min-height: 98px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 10px;
}

#u7101
{
	z-index: 108;
	width: 147px;
	background-color: transparent;
	opacity: 0.08;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
	filter: alpha(opacity=8);
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 463px;
}

#u7101_img
{
	padding: 11px 9px 5px 25px;
}

#u7067
{
	z-index: 110;
	width: 611px;
	border-width: 0px;
	background-color: transparent;
	position: relative;
}

#u7072-4
{
	z-index: 111;
	width: 611px;
	min-height: 50px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	line-height: 20px;
	position: relative;
	border-width: 0px 0px 4px;
}

#u7072-4:hover
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 611px;
	margin: 0px;
	border-width: 0px 0px 4px;
}

#u7072-4:hover p
{
	color: #C69C6D;
	visibility: inherit;
}

#u7068
{
	z-index: 115;
	width: 611px;
	background-image: none;
	border-style: solid;
	padding-bottom: 20px;
	position: relative;
	border-width: 10px 0px;
}

#u7071-7
{
	z-index: 116;
	width: 549px;
	min-height: 198px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 10px;
}

#u7069
{
	z-index: 123;
	width: 147px;
	background-color: transparent;
	opacity: 0.08;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
	filter: alpha(opacity=8);
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 463px;
}

#u7069_img
{
	padding: 11px 11px 5px 25px;
}

#u7073
{
	z-index: 125;
	width: 611px;
	border-width: 0px;
	background-color: transparent;
	position: relative;
}

#u7078-4
{
	z-index: 126;
	width: 611px;
	min-height: 50px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 5px;
	line-height: 20px;
	position: relative;
	border-width: 0px 0px 4px;
}

#u7078-4:hover
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 611px;
	margin: 0px;
	border-width: 0px 0px 4px;
}

#u7645-4.AccordionPanelTabOpen,#u7661-4.AccordionPanelTabOpen,#u7096-4.AccordionPanelTabOpen,#u7098-4.AccordionPanelTabOpen,#u7072-4.AccordionPanelTabOpen,#u7078-4.AccordionPanelTabOpen
{
	border-width: 0px;
	border-color: transparent;
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 611px;
	margin: 0px 0px 2px;
}

#u7078-4:hover p
{
	color: #C69C6D;
	visibility: inherit;
}

#u7645-4.AccordionPanelTabOpen p,#u7661-4.AccordionPanelTabOpen p,#u7096-4.AccordionPanelTabOpen p,#u7098-4.AccordionPanelTabOpen p,#u7072-4.AccordionPanelTabOpen p,#u7078-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u7645-2,#u7661-2,#u7096-2,#u7098-2,#u7072-2,#u7078-2
{
	letter-spacing: 0px;
}

#u7074
{
	z-index: 130;
	width: 611px;
	background-image: none;
	border-style: solid;
	padding-bottom: 20px;
	position: relative;
	border-width: 10px 0px;
}

#u7077-7
{
	z-index: 131;
	width: 549px;
	min-height: 98px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 10px;
}

#u7075
{
	z-index: 138;
	width: 137px;
	background-color: transparent;
	opacity: 0.08;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
	filter: alpha(opacity=8);
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 461px;
}

#u7075_img
{
	padding: 10px 5px 20px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1104
{
	z-index: 34;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: 182px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1104:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1104.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u3665
{
	z-index: 14;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -125px;
	margin-bottom: -37px;
	position: relative;
}

#u3667
{
	z-index: 8;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -85px;
	margin-bottom: -37px;
	position: relative;
}

#u3669
{
	z-index: 11;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -45px;
	margin-bottom: -37px;
	position: relative;
}

#pu530-4
{
	width: 0.01px;
	margin-left: 200px;
	margin-top: 21px;
}

#u530-4
{
	z-index: 2;
	width: 451px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
}

#u7828-7
{
	z-index: 16;
	width: 158px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
	left: 582px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

